name: Dev Branch Checks
on:
  push:
    branches: [ "dev" ]

permissions:
  contents: write
  packages: read

jobs:

  codecov:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/drieslab/ci-giottosuite/ci-env
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.CI_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history and tags
      - name: catch R deps not in container
        run: devtools::install_deps()
        shell: Rscript {0}
      - name: Generate coverage report and upload
        run: |
          covr::codecov(
            quiet = FALSE,
            clean = FALSE,
            branch = "dev",
            type = c("tests", "examples", "vignettes"),
            combine_types = TRUE,
            install_path = file.path(Sys.getenv("RUNNER_TEMP"), "package")
          )
        shell: Rscript {0}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      # **This already seems to be done by covr::codecov()**
      # - name: Upload coverage reports to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     fail_ci_if_error: false
      #     flags: unittests
      #     verbose: true

  rcmdcheck:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/drieslab/ci-giottosuite/ci-env
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.CI_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history and tags
      - name: catch R deps not in container
        run: devtools::install_deps()
        shell: Rscript {0}
      - name: Check package
        run: |
          rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "error")
        shell: Rscript {0}

  bioccheck:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/drieslab/ci-giottosuite/ci-env
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.CI_TOKEN }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history and tags
      - name: catch R deps not in container
        run: devtools::install_deps()
        shell: Rscript {0}
      - name: Build and install
        run: |
          R CMD build .
          R CMD INSTALL *.tar.gz
      - name: Run BiocCheck
        run: |
          BiocCheck::BiocCheck()
        shell: Rscript {0}