name: Feature Branch Checks
on:
  pull_request:
    branches: [ "dev" ]

permissions:
  contents: write
  pull-requests: write
  packages: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      container_name: ${{ steps.set-name.outputs.name }}
    steps:
      - name: Set container name
        id: set-name
        run: |
          LOWER_NAME=$(echo "${{ github.repository }}" | awk '{print tolower($0)}')
          echo "name=ghcr.io/${LOWER_NAME}/r-env:latest" >> $GITHUB_OUTPUT

  unit-tests:
    needs: setup
    runs-on: ubuntu-latest
    timeout-minutes: 60
    container:
      image: ${{ needs.setup.outputs.container_name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history and tags
      - name: catch R deps not in container
        run: devtools::install_deps()
        shell: Rscript {0}
      - name: Build and install
        run: |
          R CMD build .
          R CMD INSTALL *.tar.gz
      - name: Run tests
        run: |
          library(testthat)
          library(GiottoUtils)
          test_dir("tests/testthat")
        shell: Rscript {0}