name: lintr
on:
  pull_request:
    branches: [ "dev" ]
  schedule:
    - cron: '16 20 * * 2'

permissions:
  contents: read
  security-events: write
  actions: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      container_name: ${{ steps.set-name.outputs.name }}
    steps:
      - name: Set container name
        id: set-name
        run: |
          LOWER_NAME=$(echo "${{ github.repository }}" | awk '{print tolower($0)}')
          echo "name=ghcr.io/${LOWER_NAME}/r-env:latest" >> $GITHUB_OUTPUT

  lintr:
    needs: setup
    name: Run lintr scanning
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.setup.outputs.container_name }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all history and tags
      - name: catch R deps not in container
        run: devtools::install_deps()
        shell: Rscript {0}
        with:
          ref: dev

      - name: Run lintr
        run: |
          lintr::sarif_output(
            lintr::lint_package(
              ".",
              exclusions = list("tests", "vignettes", "pkgdown"), 
              linters = lintr::linters_with_defaults(
                indentation_linter = lintr::indentation_linter(indent = 4L),
                object_name_linter = lintr::object_name_linter(styles = c("camelCase", "symbols", "snake_case", "UPPERCASE"))
              )
            ),
            "lintr-results.sarif"
          )
        shell: Rscript {0}
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: lintr-results.sarif
          wait-for-processing: true